<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Bolos Hechos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar color="dark">
      <ion-title size="large">Bolos Hechos</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-listas [terminada]="true"></app-listas>


  <app-explore-container name="Tab 2 page" color="dark"></app-explore-container>
</ion-content>
